openapi: 3.2.0
info:
  title: ThingsBoard REST Telemetry Controller API
  description: ThingsBoard open-source IoT platform REST API documentation.
  contact:
    name: ThingsBoard team
    url: https://thingsboard.io
    email: info@thingsboard.io
  license:
    name: Apache License Version 2.0
    url: https://github.com/thingsboard/thingsboard/blob/master/LICENSE
  version: 3.7.0
servers:
- url: https://vista.viridiparente.com
  description: Generated server url
tags:
- name: telemetry-controller
paths:
  /api/plugins/telemetry/{entityType}/{entityId}/{scope}:
    post:
      tags:
      - telemetry-controller
      summary: Save entity attributes (saveEntityAttributesV1)
      description: 'Creates or updates the entity attributes based on Entity Id and the specified attribute scope. List of possible attribute scopes depends on the entity type:


        * SERVER_SCOPE - supported for all entity types;

        * SHARED_SCOPE - supported for devices.


        The request payload is a JSON object with key-value format of attributes to create or update. For example:


        ```json

        {

        "stringKey":"value1",

        "booleanKey":true,

        "doubleKey":42.0,

        "longKey":73,

        "jsonKey": {

        "someNumber": 42,

        "someArray": [1,2,3],

        "someNestedObject": {"key": "value"}

        }

        }

        ```

        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: saveEntityAttributesV1
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
      requestBody:
        description: A string value representing the json object. For example, '{"key":"value"}'. See API call description for more details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        '200':
          description: Attribute from the request was created or updated. Platform creates an audit log event about entity attributes updates with action type 'ATTRIBUTES_UPDATED', and also sends event msg to the rule engine with msg type 'ATTRIBUTES_UPDATED'.
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to save entity attributes for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity attributes updates with action type 'ATTRIBUTES_UPDATED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid structure of the request or invalid attributes scope provided.
          content:
            application/json:
              schema: {}
    delete:
      tags:
      - telemetry-controller
      summary: Delete entity attributes (deleteEntityAttributes)
      description: 'Delete entity attributes using provided Entity Id, scope and a list of keys. Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: deleteEntityAttributes
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
          - CLIENT_SCOPE
      - name: keys
        in: query
        description: A string value representing the comma-separated list of attributes keys. For example, 'active,inactivityAlarmTime'.
        required: true
        schema:
          type: string
      responses:
        '401':
          description: User is not authorized to delete entity attributes for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '400':
          description: Platform returns a bad request in case if keys or scope are not specified.
          content:
            application/json:
              schema: {}
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity attributes removal with action type 'ATTRIBUTES_DELETED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '200':
          description: Entity attributes was removed for the selected keys in the request. Platform creates an audit log event about entity attributes removal with action type 'ATTRIBUTES_DELETED'.
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/timeseries/{scope}:
    post:
      tags:
      - telemetry-controller
      summary: Save or update time-series data (saveEntityTelemetry)
      description: 'Creates or updates the entity time-series data based on the Entity Id and request payload.The request payload is a JSON document with three possible formats:


        Simple format without timestamp. In such a case, current server time will be used:


        ```json

        {"temperature": 26}

        ```


        Single JSON object with timestamp:


        ```json

        {"ts":1634712287000,"values":{"temperature":26, "humidity":87}}

        ```


        JSON array with timestamps:


        ```json

        [{"ts":1634712287000,"values":{"temperature":26, "humidity":87}}, {"ts":1634712588000,"values":{"temperature":25, "humidity":88}}]

        ```


        The scope parameter is not used in the API call implementation but should be specified whatever value because it is used as a path variable. Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: saveEntityTelemetry
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: Value is deprecated, reserved for backward compatibility and not used in the API call implementation. Specify any scope for compatibility
        required: true
        schema:
          enum:
          - ANY
      requestBody:
        description: A JSON with the telemetry values. See API call description for more details.
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity timeseries updates with action type 'TIMESERIES_UPDATED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid structure of the request
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to save entity timeseries for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '200':
          description: Timeseries from the request was created or updated. Platform creates an audit log event about entity timeseries updates with action type 'TIMESERIES_UPDATED'.
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/timeseries/{scope}/{ttl}:
    post:
      tags:
      - telemetry-controller
      summary: Save or update time-series data with TTL (saveEntityTelemetryWithTTL)
      description: 'Creates or updates the entity time-series data based on the Entity Id and request payload.The request payload is a JSON document with three possible formats:


        Simple format without timestamp. In such a case, current server time will be used:


        ```json

        {"temperature": 26}

        ```


        Single JSON object with timestamp:


        ```json

        {"ts":1634712287000,"values":{"temperature":26, "humidity":87}}

        ```


        JSON array with timestamps:


        ```json

        [{"ts":1634712287000,"values":{"temperature":26, "humidity":87}}, {"ts":1634712588000,"values":{"temperature":25, "humidity":88}}]

        ```


        The scope parameter is not used in the API call implementation but should be specified whatever value because it is used as a path variable.


        The ttl parameter takes affect only in case of Cassandra DB.Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: saveEntityTelemetryWithTTL
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: Value is deprecated, reserved for backward compatibility and not used in the API call implementation. Specify any scope for compatibility
        required: true
        schema:
          enum:
          - ANY
      - name: ttl
        in: path
        description: A long value representing TTL (Time to Live) parameter.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: A JSON with the telemetry values. See API call description for more details.
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity timeseries updates with action type 'TIMESERIES_UPDATED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid structure of the request
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to save entity timeseries for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '200':
          description: Timeseries from the request was created or updated. Platform creates an audit log event about entity timeseries updates with action type 'TIMESERIES_UPDATED'.
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/attributes/{scope}:
    post:
      tags:
      - telemetry-controller
      summary: Save entity attributes (saveEntityAttributesV2)
      description: 'Creates or updates the entity attributes based on Entity Id and the specified attribute scope. List of possible attribute scopes depends on the entity type:


        * SERVER_SCOPE - supported for all entity types;

        * SHARED_SCOPE - supported for devices.


        The request payload is a JSON object with key-value format of attributes to create or update. For example:


        ```json

        {

        "stringKey":"value1",

        "booleanKey":true,

        "doubleKey":42.0,

        "longKey":73,

        "jsonKey": {

        "someNumber": 42,

        "someArray": [1,2,3],

        "someNestedObject": {"key": "value"}

        }

        }

        ```

        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: saveEntityAttributesV2
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
      requestBody:
        description: A string value representing the json object. For example, '{"key":"value"}'. See API call description for more details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        '200':
          description: Attribute from the request was created or updated. Platform creates an audit log event about entity attributes updates with action type 'ATTRIBUTES_UPDATED', and also sends event msg to the rule engine with msg type 'ATTRIBUTES_UPDATED'.
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to save entity attributes for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity attributes updates with action type 'ATTRIBUTES_UPDATED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid structure of the request or invalid attributes scope provided.
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{deviceId}/{scope}:
    post:
      tags:
      - telemetry-controller
      summary: Save device attributes (saveDeviceAttributes)
      description: 'Creates or updates the device attributes based on device id and specified attribute scope. The request payload is a JSON object with key-value format of attributes to create or update. For example:


        ```json

        {

        "stringKey":"value1",

        "booleanKey":true,

        "doubleKey":42.0,

        "longKey":73,

        "jsonKey": {

        "someNumber": 42,

        "someArray": [1,2,3],

        "someNestedObject": {"key": "value"}

        }

        }

        ```


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: saveDeviceAttributes
      parameters:
      - name: deviceId
        in: path
        description: A string value representing the device id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
      requestBody:
        description: A string value representing the json object. For example, '{"key":"value"}'. See API call description for more details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about device attributes updates with action type 'ATTRIBUTES_UPDATED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid structure of the request or invalid attributes scope provided.
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to save device attributes for selected device. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '200':
          description: Attribute from the request was created or updated. Platform creates an audit log event about device attributes updates with action type 'ATTRIBUTES_UPDATED', and also sends event msg to the rule engine with msg type 'ATTRIBUTES_UPDATED'.
          content:
            application/json:
              schema: {}
    delete:
      tags:
      - telemetry-controller
      summary: Delete device attributes (deleteDeviceAttributes)
      description: 'Delete device attributes using provided Device Id, scope and a list of keys. Referencing a non-existing Device Id will cause an error


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: deleteDeviceAttributes
      parameters:
      - name: deviceId
        in: path
        description: A string value representing the device id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
          - CLIENT_SCOPE
      - name: keys
        in: query
        description: A string value representing the comma-separated list of attributes keys. For example, 'active,inactivityAlarmTime'.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Device attributes was removed for the selected keys in the request. Platform creates an audit log event about device attributes removal with action type 'ATTRIBUTES_DELETED'.
          content:
            application/json:
              schema: {}
        '400':
          description: Platform returns a bad request in case if keys or scope are not specified.
          content:
            application/json:
              schema: {}
        '401':
          description: User is not authorized to delete device attributes for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about device attributes removal with action type 'ATTRIBUTES_DELETED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/values/timeseries:
    get:
      tags:
      - telemetry-controller
      summary: Get time-series data (getTimeseries)
      description: 'Returns a range of time-series values for specified entity. Returns not aggregated data by default. Use aggregation function (''agg'') and aggregation interval (''interval'') to enable aggregation of the results on the database / server side. The aggregation is generally more efficient then fetching all records.


        ```json

        {

        "temperature": [

        {

        "value": 36.7,

        "ts": 1609459200000

        },

        {

        "value": 36.6,

        "ts": 1609459201000

        }

        ]

        }

        ```


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getLatestTimeseries_1
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: keys
        in: query
        description: A string value representing the comma-separated list of telemetry keys. If keys are not selected, the result will return all latest timeseries. For example, 'temperature,humidity'.
        required: false
        schema:
          type: string
      - name: useStrictDataTypes
        in: query
        description: Enables/disables conversion of telemetry values to strings. Conversion is enabled by default. Set parameter to 'true' in order to disable the conversion.
        required: false
        schema:
          type: boolean
          default: false
      - name: startTs
        in: query
        description: A long value representing the start timestamp of the time range in milliseconds, UTC.
        required: true
        schema:
          type: integer
          format: int64
      - name: endTs
        in: query
        description: A long value representing the end timestamp of the time range in milliseconds, UTC.
        required: true
        schema:
          type: integer
          format: int64
      - name: intervalType
        in: query
        description: A string value representing the type fo the interval.
        required: false
        schema:
          enum:
          - MILLISECONDS
          - WEEK
          - WEEK_ISO
          - MONTH
          - QUARTER
      - name: interval
        in: query
        description: A long value representing the aggregation interval range in milliseconds.
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: timeZone
        in: query
        description: A string value representing the timezone that will be used to calculate exact timestamps for 'WEEK', 'WEEK_ISO', 'MONTH' and 'QUARTER' interval types.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: An integer value that represents a max number of timeseries data points to fetch. This parameter is used only in the case if 'agg' parameter is set to 'NONE'.
        required: false
        schema:
          default: '100'
      - name: agg
        in: query
        description: A string value representing the aggregation function. If the interval is not specified, 'agg' parameter will use 'NONE' value.
        required: false
        schema:
          enum:
          - MIN
          - MAX
          - AVG
          - SUM
          - COUNT
          - NONE
      - name: orderBy
        in: query
        description: Sort order. ASC (ASCENDING) or DESC (DESCENDING)
        required: false
        schema:
          enum:
          - ASC
          - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/values/attributes:
    get:
      tags:
      - telemetry-controller
      summary: Get attributes (getAttributes)
      description: 'Returns all attributes that belong to specified entity. Use optional ''keys'' parameter to return specific attributes.

        Example of the result:


        ```json

        [

        {"key": "stringAttributeKey", "value": "value", "lastUpdateTs": 1609459200000},

        {"key": "booleanAttributeKey", "value": false, "lastUpdateTs": 1609459200001},

        {"key": "doubleAttributeKey", "value": 42.2, "lastUpdateTs": 1609459200002},

        {"key": "longKeyExample", "value": 73, "lastUpdateTs": 1609459200003},

        {"key": "jsonKeyExample",

        "value": {

        "someNumber": 42,

        "someArray": [1,2,3],

        "someNestedObject": {"key": "value"}

        },

        "lastUpdateTs": 1609459200004

        }

        ]

        ```


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getAttributes
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: keys
        in: query
        description: A string value representing the comma-separated list of attributes keys. For example, 'active,inactivityAlarmTime'.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/values/attributes/{scope}:
    get:
      tags:
      - telemetry-controller
      summary: Get attributes by scope (getAttributesByScope)
      description: 'Returns all attributes of a specified scope that belong to specified entity. List of possible attribute scopes depends on the entity type:


        * SERVER_SCOPE - supported for all entity types;

        * SHARED_SCOPE - supported for devices;

        * CLIENT_SCOPE - supported for devices.


        Use optional ''keys'' parameter to return specific attributes.

        Example of the result:


        ```json

        [

        {"key": "stringAttributeKey", "value": "value", "lastUpdateTs": 1609459200000},

        {"key": "booleanAttributeKey", "value": false, "lastUpdateTs": 1609459200001},

        {"key": "doubleAttributeKey", "value": 42.2, "lastUpdateTs": 1609459200002},

        {"key": "longKeyExample", "value": 73, "lastUpdateTs": 1609459200003},

        {"key": "jsonKeyExample",

        "value": {

        "someNumber": 42,

        "someArray": [1,2,3],

        "someNestedObject": {"key": "value"}

        },

        "lastUpdateTs": 1609459200004

        }

        ]

        ```


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getAttributesByScope
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
          - CLIENT_SCOPE
      - name: keys
        in: query
        description: A string value representing the comma-separated list of attributes keys. For example, 'active,inactivityAlarmTime'.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/keys/timeseries:
    get:
      tags:
      - telemetry-controller
      summary: Get time-series keys (getTimeseriesKeys)
      description: 'Returns a set of unique time-series key names for the selected entity.


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getTimeseriesKeys
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/keys/attributes:
    get:
      tags:
      - telemetry-controller
      summary: Get all attribute keys (getAttributeKeys)
      description: 'Returns a set of unique attribute key names for the selected entity. The response will include merged key names set for all attribute scopes:


        * SERVER_SCOPE - supported for all entity types;

        * CLIENT_SCOPE - supported for devices;

        * SHARED_SCOPE - supported for devices.


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getAttributeKeys
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/keys/attributes/{scope}:
    get:
      tags:
      - telemetry-controller
      summary: Get all attribute keys by scope (getAttributeKeysByScope)
      description: 'Returns a set of unique attribute key names for the selected entity and attributes scope:


        * SERVER_SCOPE - supported for all entity types;

        * CLIENT_SCOPE - supported for devices;

        * SHARED_SCOPE - supported for devices.


        Referencing a non-existing entity Id or invalid entity type will cause an error.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: getAttributeKeysByScope
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: scope
        in: path
        description: A string value representing the attributes scope. For example, 'SERVER_SCOPE'.
        required: true
        schema:
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
          - CLIENT_SCOPE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
  /api/plugins/telemetry/{entityType}/{entityId}/timeseries/delete:
    delete:
      tags:
      - telemetry-controller
      summary: Delete entity time-series data (deleteEntityTimeseries)
      description: 'Delete time-series for selected entity based on entity id, entity type and keys. Use ''deleteAllDataForKeys'' to delete all time-series data. Use ''startTs'' and ''endTs'' to specify time-range instead. Use ''deleteLatest'' to delete latest value (stored in separate table for performance) if the value''s timestamp matches the time-range. Use ''rewriteLatestIfDeleted'' to rewrite latest value (stored in separate table for performance) if the value''s timestamp matches the time-range and ''deleteLatest'' param is true. The replacement value will be fetched from the ''time-series'' table, and its timestamp will be the most recent one before the defined time-range.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: deleteEntityTimeseries
      parameters:
      - name: entityType
        in: path
        description: A string value representing the entity type. For example, 'DEVICE'
        required: true
        schema:
          default: DEVICE
      - name: entityId
        in: path
        description: A string value representing the entity id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      - name: keys
        in: query
        description: A string value representing the comma-separated list of telemetry keys. If keys are not selected, the result will return all latest timeseries. For example, 'temperature,humidity'.
        required: true
        schema:
          type: string
      - name: deleteAllDataForKeys
        in: query
        description: A boolean value to specify if should be deleted all data for selected keys or only data that are in the selected time range.
        required: false
        schema:
          type: boolean
          default: false
      - name: startTs
        in: query
        description: A long value representing the start timestamp of removal time range in milliseconds.
        required: false
        schema:
          type: integer
          format: int64
      - name: endTs
        in: query
        description: A long value representing the end timestamp of removal time range in milliseconds.
        required: false
        schema:
          type: integer
          format: int64
      - name: deleteLatest
        in: query
        description: If the parameter is set to true, the latest telemetry can be removed, otherwise, in case that parameter is set to false the latest value will not removed.
        required: false
        schema:
          type: boolean
          default: true
      - name: rewriteLatestIfDeleted
        in: query
        description: If the parameter is set to true, the latest telemetry will be rewritten in case that current latest value was removed, otherwise, in case that parameter is set to false the new latest value will not set.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '401':
          description: User is not authorized to delete entity timeseries for selected entity. Most likely, User belongs to different Customer or Tenant.
          content:
            application/json:
              schema: {}
        '200':
          description: Timeseries for the selected keys in the request was removed. Platform creates an audit log event about entity timeseries removal with action type 'TIMESERIES_DELETED'.
          content:
            application/json:
              schema: {}
        '400':
          description: Platform returns a bad request in case if keys list is empty or start and end timestamp values is empty when deleteAllDataForKeys is set to false.
          content:
            application/json:
              schema: {}
        '500':
          description: The exception was thrown during processing the request. Platform creates an audit log event about entity timeseries removal with action type 'TIMESERIES_DELETED' that includes an error stacktrace.
          content:
            application/json:
              schema: {}
components:
  schemas:
    JsonNode:
      description: A value representing the any type (object or primitive)
      examples:
      - {}
  securitySchemes:
    HTTP_login_form:
      type: http
      description: Enter Username / Password
      scheme: loginPassword
      bearerFormat: /api/auth/login|X-Authorization
