openapi: 3.2.0
info:
  title: ThingsBoard REST Cbrs Controller API
  description: ThingsBoard open-source IoT platform REST API documentation.
  contact:
    name: ThingsBoard team
    url: https://thingsboard.io
    email: info@thingsboard.io
  license:
    name: Apache License Version 2.0
    url: https://github.com/thingsboard/thingsboard/blob/master/LICENSE
  version: 3.7.0
servers:
- url: https://vista.viridiparente.com
  description: Generated server url
tags:
- name: cbrs-controller
paths:
  /api/setConfig:
    post:
      tags:
      - cbrs-controller
      operationId: setConfig
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Set config
      x-summary-source: derived
  /api/setCert:
    post:
      tags:
      - cbrs-controller
      operationId: setCert
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Set cert
      x-summary-source: derived
  /api/registerAll:
    post:
      tags:
      - cbrs-controller
      operationId: registerAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Register all
      x-summary-source: derived
  /api/deregisterAll:
    post:
      tags:
      - cbrs-controller
      operationId: deregisterAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Deregister all
      x-summary-source: derived
  /api/getStats:
    get:
      tags:
      - cbrs-controller
      operationId: getStats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Get stats
      x-summary-source: derived
  /api/getState:
    get:
      tags:
      - cbrs-controller
      operationId: getState
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Get state
      x-summary-source: derived
  /api/getDevices:
    get:
      tags:
      - cbrs-controller
      operationId: getDevices
      parameters:
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Get devices
      x-summary-source: derived
  /api/getConfig:
    get:
      tags:
      - cbrs-controller
      operationId: getConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Get config
      x-summary-source: derived
  /api/getCert:
    get:
      tags:
      - cbrs-controller
      operationId: getCert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
      summary: Get cert
      x-summary-source: derived
components:
  schemas:
    JsonNode:
      description: A value representing the any type (object or primitive)
      examples:
      - {}
  securitySchemes:
    HTTP_login_form:
      type: http
      description: Enter Username / Password
      scheme: loginPassword
      bearerFormat: /api/auth/login|X-Authorization
